.title{
    border: 10px solid rgb(200, 150, 225);
    font-size: 30px;
    text-align: center;
    color: white;
    font-family:fantasy;
}
.main{
    text-align: center;
}
ul{
    list-style: none;
}